.content{
	background: #F6F7F8;
	padding-top: 60px;
}

.content .title{
	margin-left: 40px;
	font-size: 26px;
	font-weight: 400;
}

.content .order-detail-wrap{
	margin: 20px 20px 10px 40px;
	height: 400px;
	background: #fff;
	padding: 40px;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
}

.content .order-detail-wrap .order-id{
	color: #444;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.content .order-detail-wrap .info-wrap{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
}

.content .order-detail-wrap .info-wrap .receiver{
	display: inline-block;
	width: 400px;
	height: auto;
	padding: 20px;
	border: 1px dashed #1D71AB;
	border-radius: 4px;
	margin: 0 auto;
}

.content .order-detail-wrap .info-wrap .total{
	display: inline-block;
	width: 400px;
	height: auto;
	padding: 20px;
	border: 1px dashed #E63050;
	border-radius: 4px;
	margin: 0 auto;
}

.content .order-detail-wrap .info-wrap .row{
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-bottom: 10px;
	line-height: 20px;
}

.content .order-detail-wrap .book-list table{
	width: 100%;
	height: auto;
	margin-top: 20px;
	border-collapse: collapse;
	border: 1px solid #444;
}

.content .order-detail-wrap .book-list table th{
	height: 40px;
	line-height: 40px;
	border: 1px solid #444;
}

.content .order-detail-wrap .book-list table td{
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	border: 1px solid #444;
	text-align: center;
}

.content .order-detail-wrap .btn-wrap{
	margin-top: 40px;
}

.content .order-detail-wrap .btn-wrap::after{
	content: "";
	display: block;
	clear: right;
}

.content .order-detail-wrap .btn-wrap a{
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #333;
	text-decoration: none;
	background: #FDD22F;
	border-radius: 4px;
	float: right;
}
.content .table-order{
	margin: 20px 20px 10px 40px;
	height: auto;
	min-height: 100vh;
	background: #fff;
	position: relative;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
}

.content .table-order .control-wrap{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background: #272B3D;
	color: #fff;
	height: 41px;
	font-size: 13px;
}

.content .table-order .control-wrap .tab-item{
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	transition: .1s;
}

.content .table-order .control-wrap .tab-item-selected{
	height: 40px;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	background: #1D71AB;
	border-bottom: 1px solid #FDD22F;
}

.content .table-order .control-wrap .tab-item:hover{
	background: #3E4357;
}

.content .table-order .tab-wrap{
	width: 100%;
	height: 80vh;
	position: absolute;
	left: 0;
	top: 40px;
	background: #fff;
}

.content .table-order .tab-wrap table{
	width: 100%;
	border-collapse: collapse;
}

.content .table-order .tab-wrap table th{
	height: 60px;
	line-height: 60px;
	text-align: left;
	padding-left: 10px;
	border-bottom: 2px solid #F6F7F8;
	background: #189EFF;
	color: #fff;
	font-size: 15px;
}

.content .table-order .tab-wrap table td{
	height: 40px;
	line-height: 40px;
	text-align: left;
	padding-left: 10px;
	border-bottom: 1px solid #F6F7F8;
}

.content .table-order .tab-wrap table td a{
	text-decoration: none;
	display: inline-block;
	color: #1D71AB;
}

.content .table-order .tab-wrap table td i{
	font-size: 20px;
	color: #1D71AB;
	margin: 10px;
}