.content{
	background: #F6F7F8;
	padding-top: 60px;
}

.content .title{
	margin-left: 40px;
	font-size: 26px;
	font-weight: 400;
}

.content .table-wrap{
	background: #fff;
	height: auto;
	min-height: 80vh;
	margin: 10px 20px 10px 40px;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
}

.content .table-wrap table{
	width: 800px;
	border-collapse: collapse;
	text-align: left;
}

.content .table-wrap table th{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #F6F7F8;
	color: #333;
	padding-left: 10px;
	font-weight: 700;	
}

.content .table-wrap table td{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #F6F7F8;
	color: #333;
	padding-left: 10px;
}