*{
  padding: 0;
  margin: 0;
}

#background-color {
  height: 100%;
  background-color: #E5E5E5;
  border: 1px solid #cacaca;
}

form {
  box-sizing: border-box;
  width: 460px;
  height: 380px;
  margin: 100px auto 0;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.8);
  padding-bottom: 40px;
  background: #040509;
  opacity: 50%;
  border-radius: 15px;
}

h1 {
  text-align: center;
  padding: 20px;
  color: white;
}
 
input {
  margin: 40px 25px;
  width: 90%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px white;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #111 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: white;
}
a{
  margin: 40px 25px;
  width: 90%;
  color: white;
  border: none;
  display: block;
  font-weight: bold;
  font-size: 17;
}
a:hover{
  color: #FF0000;
}
input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-moz-input-placeholder, input:valid::-moz-input-placeholder {
  color: #1D71AB;
  font-size: 11px;
  transform: translateY(-20px);
  visibility: visible !important;
}
 
button {
  border: none;
  font-size: 16;
  background: #1D71AB;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  width: 200px;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  margin-left: 230px;
  transform: translateX(-50%);
}
button:hover {
  background: #222;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}