.content{
	background: #F6F7F8;
	padding-top: 60px;
}

.content .title{
	margin: 0px 20px 10px 40px;
	display: grid;
	grid-template-columns: 9fr 1fr;
}

.content .title div{
	font-size: 26px;
	font-weight: 400;
}

.content .img-wrap{
	margin: 0px 20px 20px 40px;
	height: 320px;
}
.content .img-wrap img{
	width: 780px;
	height: 320px;
	background-position: center;
	background-repeat: no-repeat;
}

.noti-wrapper{
	margin: 40px;
	height: auto;
}

.noti-wrapper .errors{
	background: #FF9494;
	height: auto;
	padding: 20px 10px 20px 40px;
	margin: 40px 0;
}

.noti-wrapper .notifications{
	background: #8DC38F;
	height: auto;
	padding: 20px 10px 20px 40px;
}

.content .search-book{
	height: auto;
	background: #fff;
	margin: 0px 20px 10px 40px;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
	padding: 20px;
}
.content .search-book .control-wrap{
	margin-bottom: 20px;
}

.content .search-book .control-wrap input{
	height: 30px;
	width: 300px;
	padding: 0 10px;
	margin-right: 10px;
}

.content .search-book .control-wrap button{
	height: 30px;
	padding: 0 20px;
	background: #189EFF;
	border: none;
	outline: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}

.content .form-wrap{
	margin: 0px 20px 10px 40px;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
	background: #fff;
	height: auto;
	padding: 20px;
}

.content .form-wrap form{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.content .form-wrap form .col-info{
	
}

.content .form-wrap form .input-wrap{
	display: inline-block;
	width: 420px;
	height: auto;
	margin-bottom: 20px;
}

.content .form-wrap form .input-wrap label{
	display: block;
	margin-bottom: 10px;
}

.content .form-wrap form .input-wrap input{
	display: block;
	height: 30px;
	width: 100%;
	padding: 0 10px;
}

.content .form-wrap form button{
	margin-top: 20px;
	width: 120px;
	height: 40px;
	border-radius: 4px;
	background: #189EFF;
	border: none;
	outline: none;
	color: #fff;
}

.content table{
	height: auto;
	border-collapse: collapse;
	border: 1px solid #F6F7F8;
	text-align: left;
}

.content table th{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #F6F7F8;
	padding-left: 10px;
	font-weight: 600;
	background: #1D71AB;
	color: #fff;
	font-size: 13px;
}

.content table td{
	height: 40px;
	border-bottom: 1px solid #F6F7F8;
	padding-left: 10px;
	white-space: nowrap; 
 	overflow: hidden;
  	text-overflow: ellipsis;
  	font-size: 13px;
}

.content table .book-name{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #F6F7F8;
	padding-left: 10px;
	white-space: nowrap; 
 	overflow: hidden;
  	text-overflow: ellipsis;
  	width: 300px;
  	display: inline-block;
}

.content table td i{
	color: #333;
	font-size: 13px;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 40px;
	text-align: center;
}

.content table td i:hover{
	color: #189EFF;
	font-size: 13px;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 40px;
	text-align: center;
}