*{
	padding: 0;
	margin: 0;
	font-family: serif;
    font-weight: 300;
    font-size: 14px;
}

body{
	display: grid;
	grid-template-columns: 1fr 4fr;
	height: auto;
	min-height: 100vh;
}

.nav{
	background: #040509;
	height: 100%;
	width: 100%;
}

.nav .logo{
	margin-left: 50%;
	margin-top: 40px;	
	transform: translateX(-50%);
	display: inline-block;
}

.nav .admin-logo{
	text-align: center;
	height: 80px;
	line-height: 80px;
	margin-top: 20px;
}

.nav .admin-logo i{
	font-size: 28px;
	color: #F6F7F8;
}

.nav .admin-name{
	text-align: center;
}

.nav .admin-name a{
	text-decoration: none;
	color: #F6F7F8;
	font-size: 16px;
}

.nav .admin-name a:hover{
	color: #189EFF;
}

.nav .menu #li-highlight{
	background: #189EFF;
}

.nav .menu .parent-list{
	margin-top: 30px;
	width: 90%;
	float: right;
}

.nav .menu a{
	text-decoration: none;
	color: #fff;
}

.nav .menu .parent-list .btn{
	display: block;
	padding: 14px 20px;
	background: #272B3D;
	margin-bottom: 20px;
	border-radius: 34px 0 0 34px;
}

.nav .menu .parent-list .btn:hover{
	display: block;
	padding: 14px 20px;
	background: #4F546A;
	transition: .4s;
	margin-bottom: 20px;
	border-radius: 34px 0 0 34px;
}

.nav .menu .parent-list .btn i {
	display: inline-block;
	width: 40px;
}

.nav .menu .parent-list .parent-item:hover .sub-list{
	transition: .1s;
	margin-bottom: 14px;
	height: auto;
}

.nav .menu .parent-list .sub-list{
	transition: .1s;
	height: 0px;
	overflow: hidden;
}

.nav .menu .sub-list a{
	display: block;
	padding: 14px 20px 14px 60px;
	border-radius: 36px 0 0 34px;
	transition: .1s;
}

.nav .menu .sub-list a:hover{
	display: block;
	padding: 14px 20px 14px 60px;
	background: #4F546A;
	border-radius: 36px 0 0 34px;
}
