*{
	margin: 0;
	padding: 0;
}

body{
	display: grid;
	grid-template-columns: 1fr 4fr;
	height: auto;
}

.content{
	background: #F6F7F8;
	padding-top: 60px;
	height: auto;
	min-height: 130vh;
}

.content .title{
	margin-left: 40px;
	font-size: 20px;
	font-weight: 400;
	color: #333;
}

.noti-wrapper{
	margin: 40px;
	height: auto;
}

.noti-wrapper .errors{
	background: #FF9494;
	height: auto;
	padding: 20px 10px 20px 40px;
	margin: 40px 0;
}

.noti-wrapper .notifications{
	background: #8DC38F;
	height: auto;
	padding: 20px 10px 20px 40px;
}

.content .content-wrap{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.content .tool-bar{
	padding: 15px 20px 0px 0px;
}

.content .tool-bar .search-form{
	margin-left: 40px;
	margin-bottom: 20px;
}

.content .tool-bar .search-form input{
	font-size: 14px;
	padding: 10px;
	border: 1px solid #E5E5E5;	
	width: 330px;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
}

.content .tool-bar .search-form input:focus{
	font-size: 14px;
	padding: 10px;
	border: 1px solid #7F15E9;	
	width: 330px;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
	outline: none;
}

.content .tool-bar .search-form .search-btn{
	height: 37px;
	border: none;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
	margin-left: 4px;
	padding: 0 30px;
	text-align: center;
	font-weight: 500;
	color: #FFFFFF;
	background: #1D71AB;
	cursor: pointer;
}


.content .author-table{
	background: #FFFFFF;
	margin: 0px 20px 0 40px;
	height: auto;
	min-height: 70vh;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
}

.content .author-table .author-list{
	padding-left: 30px;
	border: none;
	border-collapse: collapse;
}

.content .author-table .author-list th{
	height: 40px;
	text-align: left;
	font-size: 16px;
	padding: 10px;
	border-bottom: 1px solid #E3E3E3;
	table-layout: fixed;
}

.content .author-table .author-list td{
	height: 40px;
	text-align: left;
	font-size: 16px;
	padding: 10px;
	border-bottom: 1px solid #E3E3E3;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}

.content .author-table .author-list td a{
	color: #1D71AB;
}

.content .content-wrap .add-author{
	padding: 20px 15px;
	background: #fff;
	width: 90%;
	height: 200px;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
}
.content .content-wrap .add-author span{
	font-size: 24px;
	display: block;
}

.content .content-wrap .add-author form{
	margin-top: 20px;
	width: 100%;
}

.content .content-wrap .add-author input{
	font-size: 14px;
	padding: 10px;
	border: 1px solid #E5E5E5;	
	width: 96%;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
}

.content .content-wrap .add-author form .save{
	margin-top: 20px;
	height: 38px;
	border: none;
	box-shadow: 7px 5px 6px -4px #E3E3E3;
	padding: 0 30px;
	text-align: center;
	font-weight: 500;
	color: #FFFFFF;
	background: #1D71AB;
	cursor: pointer;
	float: right;
}
